*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #fff;
    color: #111;
  background-image: url(https://tentcomm.com/wp-content/uploads/2024/10/1300x650-x1.5.png);
    object-fit:cover;
    background-repeat: no-repeat;
    background-size: cover;    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}
.logo{
    display: flex;
    align-items: center;
   
}
.logo img{
    height: 70px;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a{
    text-decoration: none;
    font-weight: 500;
    color: #111;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #0a2a66;    
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 35px;
    flex-wrap: wrap;
    height: 600px;
    margin-bottom: 20px;
    gap: 15px;
}
.hero-text{
    max-width: 500px;
    gap: 15px;
}
.hero-text h4{
    font-size: 20px;
    font-weight: bold;
    color: #0a2a86;
    line-height: 1.2;
    margin-bottom: 20px;
}
.hero-text h1{
    font-size: 60px;
    color: rgb(28, 28, 82);
    letter-spacing: 1.3;
    gap: 10px;
}
.buttons{
    display: flex;
    gap: 16px;
    margin-bottom: 15px;
    

}
.btn{
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s ;
    cursor: pointer;
}
.primary{
    background: #0a2a66;
    color: #fff;
}
.primary:hover{
    background: #052147;
}
.secondary{
    background: #f0f0f0;
    color: #111;
}
.secondary:hover{
    background: #ddd;
}
section p{
    justify-content: center;
    align-items: center;
}
.sponsor{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.taptap{
    width: 150px;
    height: 100%;
}
.body-text{
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.body-text p{
    font-size: 10px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 15px;
}
.body-text h2{
    font-size: 35px;
    font-weight: 700;

}
.body-text span{
    color: rgba(8, 8, 174, 0.914);
}
.body-text p{
    font-size: 12px;
    margin-bottom: 10px;
    font-weight: 500;
}
.txt-btn{
    padding: 7px 28px;
    color: #fff;
    background-color: rgba(7, 7, 144, 0.874);
    border-radius: 5px;
    letter-spacing: 1.6;
}
.body-img{
    height: 250px;
    width: 150px;
}
.check-img{
width: 300px;
    height: 300px;
}